{% extends "base.html" %}
{% block title %} Auction {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block sidebar %}
  {%include 'auction/auction_sidebar.html'%}
{%endblock sidebar%}
{% block content %}
  <div class="content">
    <div class="row">
      {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {%if message.tags == "success"%}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                        {%else%}
                            <div class="alert alert-danger" role="alert">
                                {{message}}
                            </div>
                        {%endif%}
                    {% endfor %}
                </ul>
                {% endif %}
      <div class="col-md-12">
        <div class="card" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <div class="card-header">
            <h4 class="card-title"> All Items</h4>
          </div>
          <div class="card-body">
            <div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">
            {% for item in items %}
                <div class="card" style="width: 18rem; margin : 0.5rem;">
                    <img class="card-img-top" src="http://localhost:8000/media/{{item.image}}" alt="Card image cap" height="275">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <a href="{% url 'item-details' item.itemid %}" class="btn btn-primary">View</a>
                        </div>
                </div>
            {%endfor%}
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}