{% extends "base.html" %}
{% block title %} TEST {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block sidebar %}
  {%include 'auction/auction_sidebar.html'%}
{%endblock sidebar%}
{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                    Item Details
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {%if message.tags == "success"%}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                        {%else%}
                            <div class="alert alert-danger" role="alert">
                                {{message}}
                            </div>
                        {%endif%}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="card-body">
                  <h3 class="card-title">{{item.name}}</h5>
                  <img src = "http://localhost:8000/media/{{item.image}}" alt = "Unable to Load">
                  <p class = "card-text">{{item.description}}</p>
                  <p class = "card-text">Current Bid : {{item.current_bid}}</p>
                  <p class = "card-text">Reserve Price : {{item.reserve_price}}</p>
                  <p class = "card-text">Auction End :  {{item.end_time}}</p>
                </div>
                <div class="card-footer text-muted">
                    {% if item.is_sold %}
                        <h2>MARKED AS SOLD</h2>
                    {% elif not item.is_live %}
                        <h2>ITEM REMOVED</h2>
                    {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="floatingPassword">Mark as Sold</label> <input type="checkbox" class="form-control" name="is_sold">
                          {%if item.is_live %}
                            <label for="floatingPassword">Live</label> <input type="checkbox" class="form-control" name="is_live" checked>
                          {%else%}
                            <label for="floatingPassword"></label>Live<input type="checkbox" class="form-control" name="is_live" checked>
                          {%endif%}
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit" value="create">Update</button>
                    </form>
                    {% endif %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}