{% extends "base.html" %}
{% block title %} TEST {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block sidebar %}
  {%include 'auction/auction_sidebar.html'%}
{%endblock sidebar%}
{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {%if message.tags == "success"%}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                        {%else%}
                            <div class="alert alert-danger" role="alert">
                                {{message}}
                            </div>
                        {%endif%}
                    {% endfor %}
                </ul>
          {% endif %}
          <div class="card-header">
            <h4 class="card-title">Your Profile</h4>
          </div>
          <div class="card-body">
            <div class="card text-center">
                    <div class="card-header"></div>
                        <div class="card-body">
                        <h2 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                        <h3 class="card-title">{{profile.email}}</h3>
                        <h3 class="card-title">Age : {{profile.age}}</h3>
                        </div>
                    </div>
                <div>
                    YOUR BIDS
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Item Name</th>
                      <th scope="col">Bid Amount</th>
                      <th scope="col">Placed at</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bid in bids %}
                    <tr>
                      <td>{{bid.item_name}}</td>
                      <td>{{bid.amount}}</td>
                      <td>{{bid.placed_at}}</td>
                      {%if bid.status == "WON"%}
                        <td style = "font-weight: bold; color : green">{{bid.status}}</td>
                      {%elif bid.status == "CURRENT HIGHEST"%}
                        <td style = "font-weight: bold; color : yellow">{{bid.status}}</td>
                      {%else%}
                        <td style = "font-weight: bold; color :red">{{bid.status}}</td>
                      {%endif%}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}